<div class="index_body">
    <nav id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Sistema de Notas Javeriano</a>
            </div>
            
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li><a href="/index" >About</a></li>
                    <li><a href="/login" >Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h2>Sistema de Notas Javeriano - {{title}}</h2>
            <p>Sistema de Notas Javeriano (<strong>SNJ</strong>), aplicación web que permite el control de actividades academicas para la un grupo(voluntario) especifico, en la univiersidad Javeriana Cali ,realizado por dejape (Departamento de Desarrollo de Software)</p>
            <p><a href="/login" class="btn btn-success btn-lg">Iniciar</a></p>
        </div>
        <div class="row presentacion">
            <h3>Quienes Somos</h3>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <h4>Hector David Delgado</h4>                
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor.</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <h4>Angelica Tatiana</h4>
                <p>Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus.</p>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <h4>Carlos Jaramillo</h4>
                <p>Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem. Nullam quis massa sit amet nibh viverra malesuada.</p>
            </div>
        </div>
        <hr>
        <div class="row presentacion">
            <div class="col-sm-12">
                <footer>
                    <p>Portada tomada de: © Copyright 2013 Tutorial Republic</p>
                </footer>
            </div>
        </div>
    </div>
</div>