<div class="index_body">
    <nav id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Sistema de Notas Javeriano</a>
            </div>
            
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li><a href="/index" >About</a></li>
                    <li><a href="/login" >Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h2>Sistema de Notas Javeriano - {{title}}</h2>
            <p>Sistema de Notas Javeriano (<strong>SNJ</strong>), aplicación web que permite el control de actividades academicas para la un grupo(voluntario) especifico, en la univiersidad Javeriana Cali ,realizado por dejape (Departamento de Desarrollo de Software)</p>
            <p><a href="/login" class="btn btn-success btn-lg">Iniciar</a></p>
        </div>
        <div class="row presentacion">
            <h3>Quienes Somos</h3>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <h4>Hector David Delgado</h4>                
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor.</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <h4>Angelica Tatiana</h4>
                <p>Estudiante de Ingeniería de Sistemas y Computación (Noveno semestre). Con énfasis en Computación Orientada a la Red y Animación y Sistemas Interactivos. Interesada en el área de Ingeniería de Software, Desarrollo Móvil y Desarrollo Web. Líder, disciplinada con habilidades para trabajar en equipo y proponer nuevas ideas de solución, con facilidad de aprender cosas nuevas. Soy una persona dinámica, creativa y organizada, manejo siempre muy buenas relaciones con los demás basadas en el respeto y la cordialidad.</p>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <h4>Carlos Jaramillo</h4>
                <p>Estudiante Ingeniería  de  Sistemas  y  Computación (Noveno  semestre).  Énfasis  en  Computación Orientada  a la red y Animación y Sistemas Interactivos.  Interesado en las  áreas de diseño y administración de bases de datos, desarrollo e ingeniería de software, desarrollo aplicaciones y páginas Web  Back-End  y  Front-End, desarrollo de aplicaciones móviles, desarrollo de videojuegos y Realidad Virtual. Líder,  Pro-activo,  disciplinado,  con  habilidades  para trabajar  en  equipo,  proponer ideas innovadoras de solución y gran interés por seguir adquiriendo nuevos  conocimientos.</p>
            </div>
        </div>
        <hr>
        <div class="row presentacion">
            <div class="col-sm-12">
                <footer>
                    <p>Portada tomada de: © Copyright 2013 Tutorial Republic</p>
                </footer>
            </div>
        </div>
    </div>
</div>