body{
	font-family: "Open Sans";
	background-color: darkgray;
}
.estudiante {
	margin: 20px;
}
.estudiante .header{
	text-align: center;
	clear: both;
	width: 100%;
}
.estudiante .leftBar{
	text-align: center;
	float: left;
	width: 20%;
	height: 100%;
}
.estudiante .Content{
	text-align: center;
	margin: auto;
	float: left;
	width: 60%;
	margin-left: 15%;
}
.estudiante .RightBar{
	text-align: center;
	float: right;
	width: 20%;
}
.estudiante .header img {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	width: 15%;
}

.item_course {
	margin-top: 15px;
	background-color: rgb(0,255,0);
}
.item{
	margin-left: 10%;
}
.Curso {
	background-color: rgb(240,240,240);
}

.Actividad {
	background-color: rgb(150,150,150);
	border-style: inset;
	color: white;
	margin: 2px;
}
.Actividad .nombre {
	text-align: left;
}

.Titulos {
	background-color: rgb(200,200,200);
	border-style: outset;
}
.Estudiantes_lista{
	background-color: rgb(100,100,100);
	margin: 5px;
	color: white;
}